
<div id="divDisclaimerModal" class="modal fade disclaimer-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Disclaimer </h4>
            </div>
            <div class="modal-body">
                <div class="disclaimer-collapsed">
					While the v2V-Lb project designers have made every effort to maintain 
					and distribute accurate information, it has drawn on a number of open 
					data sources and has processed that data to create useful information. 
					Despite best faith efforts, no warranties and/or representations of any 
					kind are made regarding information, data or services provided. In no 
					event shall the designers of this website be liable in any way to the 
					users of this data. Users of this data shall hold the designers of this 
					website and related parties harmless in all matters and accounts arising 
					from the use and/or accuracy of this data. While we may collect search 
					data for individual users we will maintain confidentiality. This website 
					is not affiliated with the Land Bank of Kansas City MO.
					<div class="fadeout"></div>
				</div>
				<div class="disclaimer-more-button"> More </div>
            </div>
            <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" style="float: left;"> Cancel </button>
				<button type="button" class="btn btn-primary" style="width: 100px;"
					data-dismiss="modal" onclick="performLandingSearch($(this).data('AutocompleteItem'))"> I agree </button>
            </div>
        </div>
    </div>
</div>
