<!-- Modal -->
<div id="divDisclaimer" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Disclaimer </h4>
            </div>
            <div class="modal-body">
                <span>
					Please be advised the data displayed here is for information purposes and may not be
					accurate in all cases. If you would like to register as a user, we may collect additional data
					like age, gender, and location.
				</span>
            </div>
            <div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">I agree</button>
            </div>
        </div>
    </div>
</div>
