<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#" style="margin-left: 8px;"> 
				Vacant to <b>Vibrant</b> 
			</a>
			<div class="mobile-nav-button" onclick="toggleMapLegend()">
				<i class="glyphicon glyphicon-list-alt"></i>
			</div>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			
			<ul class="nav navbar-nav">
				<li class="active"><a href="javascript:void(0);" translate="map" 
					style="text-transform: capitalize;"> Map </a></li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">

				<li class="menu-register-user">
					<a href="#" data-toggle="modal" data-target="#divUserRegistrationModal"> Register </a>
				</li>
				
				<li class="menu-login-user">
					<a href="#" data-toggle="modal" data-target="#divUserLoginModal"> Login </a>
				</li>
				
				<li class="dropdown menu-user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" 
						role="button" aria-haspopup="true" aria-expanded="false">
						<i class="glyphicon glyphicon-user"></i>
						<span class="menu-username" translate="user"> Guest </span>
						<span class="caret"></span>
					</a>
					
					<ul class="dropdown-menu">
						<li><a href="#" onclick="openUserDetails()">My Account</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#" onclick="logoutUser()"> Log Out </a></li>
					</ul>
				</li>
				
				<li class="language-menu">
					<div class="language-data" style="display: none;"></div>
					<a href="javascript:void(0);" class="language-label"> 
						<!-- <span translate="language:"> Language: </span>  -->
						<span class="language-code"> ENG </span>
					</a>
					<div class="language-selector">
						<div class="language-item" onclick="setLanguage('eng')"> 
							<img src="content/images/languages/eng.png" />
							<span> English </span> 
						</div>
						<div class="language-item" onclick="setLanguage('fra')"> 
							<img src="content/images/languages/fra.png" />
							<span> French </span>
						</div>
						<div class="language-item" onclick="setLanguage('spa')"> 
							<img src="content/images/languages/spa.png" />
							<span> Spanish </span>
						</div>
					</div>
				</li>
				
				<li style="width: 50%;">
					<form class="navbar-form" role="search">
						<div class="input-group" style="width: 100%;">
							<input type="text" id="txtTopSearch" class="form-control" 
								translate-placeholder="search" placeholder="Search" name="q">
							<div class="input-group-btn">
								<button class="btn btn-default" type="button" 
									style="padding: 6px 10px;" onclick="clearSearch()">
									<i class="glyphicon glyphicon-erase"></i>
								</button>
								<button class="btn btn-default top-search-button" type="button" 
									onclick="search()">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</div>
						</div>
					</form>
				</li>
				
			</ul>
			
		</div>
	</div>
</nav>
