<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"> 
				<img src="content/images/v2v-lb-logo.png" title="Vacant to Vibrant - Land Bank" />
			</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			
			<ul class="nav navbar-nav">
				<li class="active home-menu display-none">
					<a href="javascript:void(0);" 
						onclick="location.reload();" style="text-transform: capitalize;">
						<!-- <i class="glyphicon glyphicon-home" style="margin-right: 8px;"></i> -->
						<span translate="home"> Home </span>
					</a>
				</li>
				<li class="menu-register-user">
					<a href="#" data-toggle="modal" data-target="#divUserRegistrationModal"> 
						<i class="glyphicon glyphicon-edit" style="margin-right: 8px;"></i>
						<span translate="register" style="color: #E6E6E6 !important; font-weight: bold;"> Register </span>
					</a>
				</li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">

				<li class="menu-login-user">
					<a href="#" data-toggle="modal" data-target="#divUserLoginModal"> 
						<i class="glyphicon glyphicon-log-in" style="margin-right: 8px;"></i>
						<span translate="login"> Log In </span>
					</a>
				</li>
				
				<li class="dropdown menu-user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" 
						role="button" aria-haspopup="true" aria-expanded="false">
						<i class="glyphicon glyphicon-user"></i>
						<span class="menu-username"> Guest </span>
						<span class="caret"></span>
					</a>
					
					<ul class="dropdown-menu">
						<li><a href="#" onclick="openUserDetails()">My Account</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#" onclick="logoutUser()"> Log Out </a></li>
					</ul>
				</li>
				
				<li class="language-menu">
					<div class="language-data" style="display: none;"></div>
					<a href="javascript:void(0);" class="language-label" onclick="toggleLanguage()">
						<i class="glyphicon glyphicon-globe" style="margin-right: 8px;"></i>
						<span class="language-code"> ENG </span>
					</a>
				</li>
				
				<li class="nav-menu-list favorites-list">
					<div class="nav-menu-list-data" style="display: none;"></div>
					<a href="javascript:void(0);" class="nav-menu-list-label" title="Saved Searches">
						<i class="glyphicon glyphicon-folder-open"></i>
					</a>
					<div class="nav-menu-list-content"></div>
				</li>
				
				<li class="search-menu display-none">
					<div class="input-group" style="width: 100%;">
						<input type="text" id="txtTopSearch" class="form-control" 
							translate-placeholder="search" placeholder="Search by address, neighborhood, or Zip Code" name="q">
						<div class="favorite-search-button" onclick="setUserFavorite()"> Save </div>
						<div class="input-group-btn">
							<button class="btn btn-default" type="button" 
								style="padding: 6px 10px;" onclick="clearSearch()">
								<i class="glyphicon glyphicon-erase"></i>
							</button>
							<button class="btn btn-default top-search-button" type="button" 
								onclick="search()">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>
					</div>
				</li>
				
			</ul>
			
		</div>
	</div>
</nav>
