
<div id="divSidebarWrapper">

	<div class="load-indicator">
		<img src="content/images/ajax-loader.gif" />
	</div>

	<ul id="sidebar_menu" class="sidebar-nav">
		<li class="sidebar-brand">
			<a id="divSideBarMenuToggle" href="javascript:void(0);" onclick="app.refreshSidebar()"> 
				<span translate="area statistics" style="text-transform: capitalize;"> 
					Area Statistics 
				</span>
				<span id="main_icon"></span>
				<div class="sub_icon glyphicon glyphicon-chevron-right"></div>
			</a>
		</li>
		<div id="divAreaStatsSubheading"> 
			0.25 Miles of <span id="spanStartLocation"> </span> 
		</div>
	</ul>
	<ul class="sidebar-nav" id="sidebar">
		<li class="sidebar-item">
			<a>
				<div class="sub_icon glyphicon glyphicon-stats"></div>
				<div class="sidebar-item-label hide-overflow" translate="property count"> 
					Number of LB Properties
				</div> 
				<div id="txtPropertyCount" class="sidebar-item-value"> 0 </div> 
			</a>
		</li>
		<li class="sidebar-item">
			<a> 
				<div class="sub_icon glyphicon glyphicon-stats"></div>
				<div class="sidebar-item-label hide-overflow"> 
					Avg Market Value 
				</div>
				<div id="txtMarketValue" class="sidebar-item-value"> 0 </div> 
			</a>
		</li>
		<li class="sidebar-item">
			<a> 
				<div class="sub_icon glyphicon glyphicon-stats"></div>
				<div class="sidebar-item-label hide-overflow"> 
					Avg Lot Sqft 
				</div> 
				<div id="txtSqft" class="sidebar-item-value"> 0 </div>
			</a>
		</li>
		
		<li class="sidebar-item">
			<a> 
				<div class="sub_icon glyphicon glyphicon-stats"></div>
				<div class="sidebar-item-label hide-overflow"> 
					Absentee Owner Shares
				</div> 
				<div class="sidebar-item-bar">
					<div id="txtAbsenteeOwnerShares" class="sidebar-item-bar-value"> 0 </div>
					<div id="divAbsenteeOwnerSharesValue" class="sidebar-item-inner-bar"></div>
				</div>
			</a>
		</li>
		<li class="sidebar-item">
			<a> 
				<div class="sub_icon glyphicon glyphicon-stats"></div>
				<div class="sidebar-item-label hide-overflow"> 
					Visible 311 Calls
				</div> 
				<div class="sidebar-item-bar">
					<div id="txtStreetVisible311Calls" class="sidebar-item-bar-value"> 0 </div>
					<div id="divStreetVisible311CallsValue" class="sidebar-item-inner-bar"></div>
				</div>
			</a>
		</li>
		<li class="sidebar-item">
			<a> 
				<div class="sub_icon glyphicon glyphicon-stats"></div>
				<div class="sidebar-item-label hide-overflow"> 
					Visible Property Violations
				</div>
				<div class="sidebar-item-bar">
					<div id="txtStreetVisiblePropertyViolations" class="sidebar-item-bar-value"> 0 </div>
					<div id="divStreetVisiblePropertyViolationsValue" class="sidebar-item-inner-bar"></div>
				</div>
			</a>
		</li>
		<li class="sidebar-item">
			<a> 
				<div class="sub_icon glyphicon glyphicon-stats"></div>
				<div class="sidebar-item-label hide-overflow"> 
					Crimes Against Persons
				</div> 
				<div class="sidebar-item-bar">
					<div id="txtCrimesAgainstPersons" class="sidebar-item-bar-value"> 0 </div>
					<div id="divCrimesAgainstPersonsValue" class="sidebar-item-inner-bar"></div>
				</div>
			</a>
		</li>
		<li class="sidebar-item">
			<a>
				<div class="sub_icon glyphicon glyphicon-stats"></div>
				<div class="sidebar-item-label hide-overflow"> 
					Crimes Against Property
				</div>
				<div class="sidebar-item-bar">
					<div id="txtCrimesAgainstProperty" class="sidebar-item-bar-value"> 0 </div>
					<div id="divCrimesAgainstPropertyValue" class="sidebar-item-inner-bar"></div>
				</div>
			</a>
		</li>
		<li class="sidebar-item">
			<a>
				<div class="sub_icon glyphicon glyphicon-stats"></div>
				<div class="sidebar-item-label hide-overflow"> 
					Single Family BP Additions 
				</div>
				<div class="sidebar-item-bar">
					<div id="txtSingleFamilyBPAdditions" class="sidebar-item-bar-value"> 0 </div>
					<div id="divSingleFamilyBPAdditionsValue" class="sidebar-item-inner-bar"></div>
				</div>
			</a>
		</li>
		<li class="sidebar-link sidebar-register-or-login" style="padding: 0 24px 0 0; position: relative; text-align: center; top: 24px;">
			<div style="color: #858585; line-height: 14px;"> For more information, click to </div>
			<div data-toggle="modal" data-target="#divUserRegistrationModal" class="link" style="display: inline-block; line-height: 14px;"> Register </div> or 
			<div data-toggle="modal" data-target="#divUserLoginModal" class="link" style="display: inline-block; line-height: 14px;"> Login </div>
		</li>
	</ul>
	<ul class="sidebar-nav sidebar-bottom">
		<!-- <li><a>Link1<span class="sub_icon glyphicon glyphicon-link"></span></a></li> -->
		<!-- <li><a>Link2<span class="sub_icon glyphicon glyphicon-link"></span></a></li> -->
	</ul>
</div>
