
<div id="divSidebarWrapper">

	<div class="load-indicator">
		<img src="content/images/ajax-loader.gif" />
	</div>

	<ul id="sidebar_menu" class="sidebar-nav">
		<li class="sidebar-brand">
			<a id="divSideBarMenuToggle" href="javascript:void(0);" onclick="refreshSidebar()"> 
				<span translate="area statistics" style="text-transform: capitalize;"> 
					Area Statistics 
				</span>
				<span id="main_icon"></span>
				<div class="sub_icon glyphicon glyphicon-stats"></div>
			</a>
		</li>
		<div id="divAreaStatsSubheading"> 
			0.25 Miles of <span id="spanStartLocation"> </span> 
		</div>
	</ul>
	<ul class="sidebar-nav" id="sidebar">
		<li class="sidebar-item">
			<a>
				<div class="sub_icon glyphicon glyphicon-stats"></div>
				<div class="sidebar-item-label hide-overflow" translate="property count"> 
					Property Count 
				</div> 
				<div id="aPropertyCount" class="sidebar-item-value"> 0 </div> 
			</a>
		</li>
		<li class="sidebar-item">
			<a> 
				<div class="sub_icon glyphicon glyphicon-stats"></div>
				<div class="sidebar-item-label hide-overflow" translate="avg years old"> 
					Avg Years Old 
				</div> 
				<div id="aAverageYearsOld" class="sidebar-item-value"> 0 </div> 
			</a>
		</li>
		<li class="sidebar-item">
			<a> 
				<div class="sub_icon glyphicon glyphicon-stats"></div>
				<div class="sidebar-item-label hide-overflow"> 
					Avg Year Acquired 
				</div> 
				<div id="aAverageYearAcquired" class="sidebar-item-value"> 0 </div> 
			</a>
		</li>
		<li class="sidebar-item">
			<a> 
				<div class="sub_icon glyphicon glyphicon-stats"></div>
				<div class="sidebar-item-label hide-overflow"> 
					Avg Market Value 
				</div>
				<div id="aMarketValue" class="sidebar-item-value"> 0 </div> 
			</a>
		</li>
		<li class="sidebar-item">
			<a> 
				<div class="sub_icon glyphicon glyphicon-stats"></div>
				<div class="sidebar-item-label hide-overflow"> 
					Avg Sqft 
				</div> 
				<div id="aSqft" class="sidebar-item-value"> 0 </div>
			</a>
		</li>
	</ul>
	<ul class="sidebar-nav sidebar-bottom">
		<!-- <li><a>Link1<span class="sub_icon glyphicon glyphicon-link"></span></a></li> -->
		<!-- <li><a>Link2<span class="sub_icon glyphicon glyphicon-link"></span></a></li> -->
	</ul>
</div>
