
<div id="divUserLoginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Login to Vacant to Vibrant </h4>
            </div>
            <div class="modal-body">
				<p><input type="text" class="form-control span3" name="eid" id="email" placeholder="Email"></p>
				<p><input type="password" class="form-control span3" name="passwd" placeholder="Password"></p>
				<p><button type="submit" class="btn btn-primary"> Sign in </button>
					<a href="#">Forgot Password?</a>
				</p>
            </div>
            <div class="modal-footer">
				New To Vacant to Vibrant ?
				<a href="#" class="btn btn-primary"> Register </a>
            </div>
        </div>
    </div>
</div>
