
<div id="divUserForgotPasswordRequestModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Forgot Password </h4>
            </div>
            <div class="modal-body">
				<div class="row" style="margin: 0 0 24px 0;">
					<div class="col-md-12">
						Please enter the email address of the user you wish to reset the password for:
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						
						<div class="control-group row">
							<label class="control-label col-md-3" for="txtForgotPasswordEmailAddress" 
								style="width: 136px;"> Email Address </label>
							<div class="controls col-md-7">
								<input type="text" id="txtForgotPasswordEmailAddress"
									placeholder="Email Address" class="form-control input-xlarge" />
								<p class="help-block"> Enter your email address </p>
							</div>
						</div>
					</div>
				</div>
            </div>
            <div class="modal-footer">
				<button type="button" class="btn btn-default" 
						data-dismiss="modal" style="float: left;"> Cancel </button>
				<button id="btnRequestResetPassword" class="btn btn-success" 
						onclick="requestResetPassword()"> Reset Password </button>
            </div>
        </div>
    </div>
</div>
