
<div id="divUserProfileModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> User Profile </h4>
            </div>
            <div class="modal-body">
                <div class="row">
					<div class="col-md-3">
						<div class="user-avatar">
							<i class="glyphicon glyphicon-user"></i>
						</div>
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-5">
								Username
							</div>
							</div class="col-md-7">
								test
							</div>
						</div>
						<div class="row">
							<div class="col-md-5">
								Email
							</div>
							</div class="col-md-7">
								test@test.com
							</div>
						</div>
						<div class="row">
							<div class="col-md-5">
								Registration Date
							</div>
							</div class="col-md-7">
								01/01/2000
							</div>
						</div>
						<div class="row">
							<div class="col-md-5">
								Gender
							</div>
							</div class="col-md-7">
								Female
							</div>
						</div>
						<div class="row">
							<div class="col-md-5">
								Zip
							</div>
							</div class="col-md-7">
								64100
							</div>
						</div>
					</div>
				</div>
            </div>
            <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
            </div>
        </div>
    </div>
</div>
