
@font-face {
	font-family: Lato-Regular;
	src: url('../fonts/Lato-Regular.ttf');
}

body {
	font-family: 'Lato-Regular';
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.hide-overflow {
	overflow-x: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
	white-space: nowrap;
}

body > .container {
	background-color: #FFF;
	height: 100%;
	width: 100%;
}

body > .container > div {
	width: 100%;
	z-index: 4;
}

.load-indicator {
	display: none;
	left: 50%;
	position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.disclaimer-box {
	background-color: #FAFAFA;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
	margin: 25px 0 0 0;
	padding: 10px 20px;
}

.disclaimer-title {
	color: #353535;
	font-size: 16px;
	font-weight: bold;
}

.disclaimer-text {
	color: #656565;
	font-size: 14px;
	font-weight: normal;
}

#divLandingPage {
	
}

#divMap {
	display: none;
	height: calc(100%);
	left: 0;
	position: absolute;
	top: 0;
	width: calc(100%);
	z-index: 4;
}

.leaflet-top.leaflet-left {
	left: auto;
    right: 11px;
	top: 124px;
}

.leaflet-top.leaflet-right {
	top: 60px;
}

.leaflet-popup-content-wrapper {
	border-radius: 3px !important;
}

#divNavbar {
	display: none;
    left: 0;
    position: absolute;
	width: 100%;
	z-index: 10;
}

nav.navbar {
	background-color: rgba(25, 135, 25, 0.7);
	border: 0;
	border-radius: 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
	z-index: 10;
}

.navbar-brand {
	color: #EEE !important;
	margin-right: 36px;
}

nav.navbar li.active {
	border-bottom: 5px solid rgba(255, 255, 255, 0.65);
	margin-top: -5px;
}

nav.navbar li.active > a {
	top: 2px;
}

nav.navbar li:hover {
	background-color: rgba(0, 0, 0, 0.3) !important;
}

nav.navbar li > a {
	background-color: rgba(255, 255, 255, 0) !important;
	color: #DDD !important;
}

nav.navbar li.active  > a { 
	color: #FFF !important;
}

/* Modal Styles - Begin */

.modal-content {
	border-radius: 0;
}

.modal-backdrop {
	opacity: 0.2 !important;
}

/* Modal Styles - End */


/* Language Selector Styles - Start */

.language-selector {
	background-color: rgba(255, 255, 255, 0.90);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.36);
	display: none;
	margin: 0 0 0 0;
	position: absolute;
}

.language-menu {
	border-right: 1px solid rgba(55, 130, 55, 0.4);
}

.language-menu:hover .language-selector,
.language-selector:hover {
	display: block;
}	

.language-selector .language-item {
    border-bottom: 1px solid #E5E5E5;
	clear: both;
	cursor: pointer;
	height: 48px;
	min-width: 152px;
	padding: 8px 16px;
}

.language-selector .language-item:hover {
	background-color: rgba(230, 230, 230, 0.8);
}

.language-selector .language-item:hover > span {
	color: #404040;
}

.language-selector .language-item > span {
	color: #808080;
	float: left;
	margin: 5px 0 0 0;
}

.language-selector .language-item > img {
	float: left;
	margin: 0 10px 0 0;
}

.language-label > span[translate] {
	text-transform: capitalize;
}

.language-label > span.language-code {
	text-transform: uppercase;
}

/* Language Selector Styles - End */

