
@font-face {
	font-family: Lato-Regular;
	src: url('../fonts/Lato-Regular.ttf');
}

html, body {
	font-family: 'Lato-Regular';
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background-image: url('./../images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (max-width: 400px) {
	.main-title {
		margin-left: 5%;
		width: 95%;
	}
}

.display-inline-block {
	display: inline-block !important;
}

.always-visible {
	display: list-item !important;
}

.hide-overflow {
	overflow-x: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
	white-space: nowrap;
}

body > .container {
	height: 100%;
	width: 100%;
}

body > .container > div {
	width: 100%;
	z-index: 4;
}

input[type="radio"] + label {
	font-weight: normal;
}

.load-indicator {
	display: none;
	left: 50%;
	position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.link {
	color: #33D;
	cursor: pointer;
}

.link:hover {
	color: #22B;
}

.toggle-value-label {
	display: inline-block;
	font-size: 13px;
	margin: 4px 4px 0 4px;
	vertical-align: top;
}
    
.hover-help-icon {
    background: rgba(255, 255, 255, 1);
    border-radius: 20px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    color: #656565;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
	margin: 0;
    padding: 1px 10px 1px 8px;
    position: absolute;
    right: 12px;
	text-align: center;
	text-indent: 0;
    top: 32px;
	width: 0;
    z-index: 100;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

    .hover-help-icon + .hover-help-content {
        background: rgba(255, 255, 255, 0.96);
        border: 0;
		border-radius: 3px;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
        display: none;
		line-height: 18px;
		margin: 18px 10px 0 10px;
        max-width: 400px;
        min-width: 200px;
        padding: 8px 8px;
        position: absolute;
		text-indent: 0;
        white-space: normal;
        z-index: 101;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .hover-help-icon:hover + .hover-help-content,
	.hover-help-content:hover {
        display: block;
    }

/* Landing Page Styles - Begin */

.disclaimer-box {
	background-color: #FAFAFA;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
	margin: 25px 0 0 0;
	padding: 10px 20px;
}

.disclaimer-title {
	color: #353535;
	font-size: 16px;
	font-weight: bold;
}

.disclaimer-text {
	color: #656565;
	font-size: 14px;
	font-weight: normal;
}

.disclaimer-collapsed {
    height: 80px;
    overflow: hidden;
	position: relative;
}

.disclaimer-more-button {
	background-color: #F5F5F5;
	border: 1px solid #DDD;
	border-radius: 3px;
	cursor: pointer;
    color: #606060;
    font-size: 12px;
    font-weight: bold;
	margin: auto;
	padding: 2px 8px;
    text-align: center;
	width: 88px;
}

.disclaimer-more-button:hover {
	background-color: #DDD;
}

#divLandingPage { }

.landing-title {
	color: rgba(255, 255, 255, 0.8);
    font-size: 28px;
    margin-left: 50%;
    text-align: right;
    width: 50%;
    line-height: 34px;
}

@media screen and (max-width: 400px) {
	.landing-title {
		margin-left: 10% !important;
		width: 90% !important;
	}
}

.landing-divider {
	border: 1px solid #DDD;
	height: 0;
}

.search-box-disclaimer {
    color: #707070;
	text-align: center;
	margin: 8px 0 0 0 !important;
}

/* Landing Page Styles - End */


/* Map Styles - Begin */

#divMap {
	display: none;
	height: calc(100%);
	left: 0;
	position: absolute;
	top: 0;
	width: calc(100%);
	z-index: 4;
}

.leaflet-top.leaflet-left {
	left: auto;
    right: 11px;
	top: 260px;
}

.leaflet-top.leaflet-right {
	top: 60px;
}

.leaflet-control-layers {
	background-color: rgba(255, 255, 255, 0.84) !important;
	position: relative;
}

.leaflet-control-layers.leaflet-control-layers-expanded {
	padding: 10px 10px 6px 10px;
}

.leaflet-control-layers .minimize-button,
.map-legend .minimize-button {
	background-color: rgba(0, 0, 0, 0.02);
    border: 1px solid #909090;
    border-radius: 4px;
    cursor: pointer;
	display: none;
    height: 12px;
	line-height: 4px;
    right: 2px;
    position: absolute;
    text-align: center;
    top: 2px;
    width: 16px;
	z-index: 5;
}

.minimize-button:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.leaflet-control-layers.leaflet-control-layers-expanded .minimize-button,
.map-legend.map-legend-expanded .minimize-button {
	display: block;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	background-color: rgba(255, 255, 255, 0.84) !important;
}

.leaflet-popup {
	margin-top: 15px;
}

.leaflet-popup-content-wrapper {
	border-radius: 3px !important;
}

.leaflet-popup-content {
	width: 360px !important;
}

@media screen and (max-width: 400px)  { 
	.leaflet-popup-content {
		width: 200px !important;
	}
}

.map-popup-title {
	border-bottom: 1px dotted #AAA; 
	margin-bottom: 8px; 
	font-size: 14px; 
	font-weight: bold;
}

.map-popup-content {
	min-width: 380px;
}

.map-popup-image {
	margin: 0 0 8px 0;
	text-align: center;
}

.map-popup-image img {
	border: 0;
	width: 200px;
}

.map-popup-image img:hover {
	cursor: pointer;
	opacity: 0.90;
}

.map-popup-item {
	display: inline-block;
	margin: 0 0 4px 0;
	vertical-align: top;
	width: 190px;
}

.map-popup-item-label {
	color: #454545;
	font-size: 13px;
	font-weight: bold;
	vertical-align: top;
	width: 180px;
}

.map-popup-item-value {
	font-size: 13px;
	vertical-align: top;
	width: 180px;
}

@media screen and (max-width: 400px)  { 
	.map-popup-content {
		min-width: 200px;
	}

	.map-popup-item {
		display: block;
		margin: 0 0 2px 0;
		width: 210px;
	}

	.map-popup-item-label {
		display: inline-block;
		font-size: 11px;
		width: 90px;
	}

	.map-popup-item-value {
		display: inline-block;
		font-size: 11px;
		width: 100px;
	}
}

.map-legend {
	background-color: rgba(255, 255, 255, 0.65);
	border: 2px solid rgba(0,0,0,0.2);
	border-bottom: 2px solid rgba(0, 0, 0, 0.2) !important;
	border-radius: 4px;
	float: right;
	height: 40px;
	margin: 0 10px 10px 0;
	overflow: hidden;
	padding: 10px;
	width: 40px;
}

.map-legend.map-legend-expanded {
	height: auto;
	width: 180px;
}

@media screen and (max-width: 400px)  {  
	.map-legend {
		display: none;
	}
	
	.map-legend.visible {
		display: block;
	}
}

.map-legend .map-legend-title {
	display: none;
	font-weight: bold;
	margin: 0 0 4px 0;
}

.map-legend.map-legend-expanded .map-legend-title {
	display: block;
}

.map-legend.map-legend-expanded .map-legend-icon {
	display: none;
}

.map-legend .map-legend-icon {
	background-color: rgba(255, 255, 255, 0.8);
    color: #606060;
	cursor: pointer;
	display: block;
	font-size: 16px;
	height: 32px;
    left: 10px;
    position: absolute;
    top: 8px;
	width: 32px;
}

.map-legend .map-legend-row {
	margin: 0 0 2px 0;
}

.map-legend .map-legend-row img {
	display: inline-block;
	height: 18px;
	margin: 0 4px 0 0;
	position: relative;
	top: -2px;
	width: 18px;
}

.map-legend .map-legend-row span { }

.map-button {
	background-color: rgba(255, 255, 255, 0.92);
	border: 2px solid rgba(0,0,0,0.2);
	border-radius: 3px;
	clear: both;
	color: #606060;
	cursor: pointer;
	font-size: 18px;
	font-weight: normal;
	height: 36px;
	padding: 4px;
	position: relative;
	width: 36px;
	
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.map-button:hover {
	background-color: rgba(240, 240, 240, 0.92);
}

.map-button.map-back-view-button > i.glyphicon {
	position: absolute;
	right: 3px;
	top: 7px;
}

.map-button.map-back-view-button:before {
	content: '\25C2';
	margin: 0 0 0 -3px;
}

.leaflet-marker-icon.selected {
	border: 2px dotted rgba(255, 255, 20, 1.0);
	border-radius: 20px;
    height: 34px !important;
	padding: 4px;
    width: 34px !important;
}

.leaflet-marker-hover-label {
	background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    color: #FFF;
    display: block;
    height: 44px;
    font-size: 12px;
    padding: 2px 6px;
    position: absolute;
    text-align: left;
    width: 155px;
    z-index: 5701;
}

.map-settings-content {
	background-color: rgba(255, 255, 255, 0.92);
	border: 2px solid rgba(0,0,0,0.2);
	border-radius: 3px;
	display: none;
	font-size: 14px;
	padding: 8px;
	position: absolute;
	right: -2px;
	width: 232px;
}

/* Navbar Styles */

#divNavbar {
	display: none;
    left: 0;
    position: absolute;
	width: 100%;
	z-index: 10;
}

nav.navbar {
	background-color: rgba(22, 140, 22, 0.73);
	border: 0;
	border-radius: 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
	z-index: 10;
}

.navbar-nav.navbar-right { 
	width: 64%;
}

@media screen and (max-width: 1000px)  {
	.navbar-nav.navbar-right {
		width: 57%;
	}
}

@media screen and (max-width: 830px)  {
	.navbar-nav.navbar-right {
		width: 50%;
	}
}

@media screen and (max-width: 768px)  {
	.navbar-nav.navbar-right,
	.navbar-nav.navbar-right > li {
		margin: 0 !important;
		width: 100% !important;
	}
}

.navbar-nav.navbar-right > li {
	float: right;
}

.navbar-brand {
	color: #EEE !important;
	margin-left: 8px !important;
	margin-right: 36px;
	padding: 6px 0 0 0 !important;
}

.navbar-brand > img {
	opacity: 0.78;
}

@media screen and (max-width: 600px)  {
	.navbar-brand {
		font-size: 16px !important;
		margin: 0 !important;
	}
}

nav.navbar li {
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav.navbar li.active {
	border-bottom: 5px solid rgba(255, 255, 255, 0.65);
	margin-top: -5px;
}

nav.navbar li.active > a {
	top: 2px;
}

nav.navbar li:hover {
	background-color: rgba(0, 0, 0, 0.3) !important;
}

nav.navbar li > a {
	background-color: rgba(255, 255, 255, 0) !important;
	color: #DDD !important;
	text-transform: capitalize;
}

nav.navbar .dropdown-menu li > a {
	color: #656565 !important;
}

nav.navbar li.active  > a { 
	color: #FFF !important;
}

.top-search-button {
	background-color: #428BC7;
	border-color: #CCC;
	color: #FFF;
	width: 55px;
}

.delete-button {
	border-radius: 20px;
	color: #656565;
	cursor: pointer;
	font-size: 14px;
	height: 28px;
	padding: 4px;
	position: absolute;
	right: 8px;
	text-align: center;
	top: 4px;
	width: 28px;
}

.delete-button:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.mobile-nav-button {
    color: rgba(255, 255, 255, 0.9);
	cursor: pointer;
	display: none;
    font-size: 24px;
	font-weight: normal;
    height: 50px;
	padding: 8px 0 0 0;
	text-align: center;
	width: 40px;
	
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.mobile-nav-button:hover {
	background-color: rgba(0, 0, 0, 0.3) !important;
}

@media screen and (max-width: 400px)  { 
	.mobile-nav-button {
		display: inline-block;
	}
}

.favorite-search-button {
	background-color: rgba(0, 0, 0, 0.07);
	border-radius: 3px;
	color: #808080;
	cursor: pointer;
	display: none;
	font-size: 13px;
	height: 22px;
	line-height: 18px;
	padding: 2px 10px;
    position: absolute;
    right: 96px;
	top: 6px;
    z-index: 5;
}

.favorite-search-button:hover {
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFF;
}

.favorite-search-button.visible {
		display: block !important;
}

.favorites-list {
	display: none !important;
}

@media screen and (max-width: 400px)  { 
	.favorites-list {
		display: inline-block;
	}
}

.favorites-list.visible {
	display: list-item !important;
}

.search-menu {
	margin: 0 24px 0 0; 
	padding: 8px 12px; 
	width: 60%;
}

@media screen and (max-width: 830px)  { 
	.search-menu {
		width: 58%;
	}
}

.language-code {
	text-transform: uppercase;
}

/* Modal Styles - Begin */

.modal-header {
	background-color: #EEE;
    border-bottom: 3px solid #4B4;
}

.modal-content {
	border-radius: 0;
}

.modal-backdrop {
	opacity: 0.2 !important;
}

.disclaimer-modal .modal-header {
	background-color: #428BC7 !important;
	border-bottom: 0;
}

.disclaimer-modal .modal-title {
	color: #FFF;	
}

.error-modal .modal-header {
	background-color: rgba(240, 20, 0, 0.8) !important;
}

.error-modal .modal-title {
	color: #FFF;	
}

/* Modal Styles - End */


/* User Auth Modals - Begin */

.control-group {
	color: #737373;
	margin: 0 0 10px 0;
}

.control-label {
	display: inline-block;
	margin: 6px 10px 0 0;
	vertical-align: top;
	width: 104px;
}

.control-label.long-width {
	width: 140px !important;
}

.control-label + .controls {
	display: inline-block;
	vertical-align: top;
	width: 350px;
}

.control-label + .controls p {
	margin: 2px 0 4px 0;
}

/* User Auth Modals - End */


/* Nav Menu List Styles - Start */

.favorites-list { }

.nav-menu-list { 
	border-right: 1px solid rgba(55, 130, 55, 0.4);
}

.nav-menu-list:hover .nav-menu-list-content {
	display: block;
}

.nav-menu-list-data { }

.nav-menu-list-label { }

.nav-menu-list-content {
	background-color: rgba(255, 255, 255, 0.90);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.36);
	display: none;
	margin: 0 0 0 0;
	position: absolute;
	
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav-menu-list-content .nav-menu-list-item {
    border-bottom: 1px solid #E5E5E5;
	clear: both;
	cursor: pointer;
	height: 48px;
	min-width: 200px;
	padding: 8px 16px;
	position: relative;
	
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav-menu-list-content .nav-menu-list-item:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

.nav-menu-list-content .nav-menu-list-item:hover > span {
	color: #FFF;
}

.nav-menu-list-content .nav-menu-list-item > span {
	color: #808080;
	float: left;
	margin: 5px 0 0 0;
}

/* Nav Menu List Styles - End */


/* Auth screens related styles - Begin */

.menu-user {
	display: none !important;
}

.menu-user.visible {
	display: list-item !important;
}

.menu-user > .dropdown-toggle {
	overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
}

.menu-username {
	text-transform: capitalize;
}

.error-row {
	display: none;
}

.error-row .error-message {
	color: #B44;
}

/* Auth screens related styles - End */

/* Toggle Switch Styles - Begin */

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 28px;
}

/* Hide default HTML checkbox */
.switch input { 
	display:none; 
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 24px;
	width: 24px;
	left: 4px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 28px;
}

.slider.round:before {
	border-radius: 50%;
}

/* Toggle Switch Styles - End */

/* Fadeout Styles - Begin */

.fadeout {
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
	height: 4em;
	position: absolute;
    top: 24px;
    width: 100%;
} 

/* Fadeout Styles - End */




