
html, body {
	margin: 0;
	padding: 0;
}

#divMap {
	height: calc(100%);
	left: 0;
	position: absolute;
	top: 0;
	width: calc(100%);
	z-index: 4;
}

.leaflet-top.leaflet-left {
	left: auto;
    right: 11px;
	top: 124px;
}

.leaflet-top.leaflet-right {
	top: 60px;
}

.leaflet-popup-content-wrapper {
	border-radius: 3px !important;
}

body > .container {
	background-color: #519565;
	width: 100%;
}

#divNavbar {
    left: 0;
    position: absolute;
	width: 100%;
}

nav.navbar {
	background-color: rgba(25, 135, 25, 0.7);
	border: 0;
	border-radius: 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
	z-index: 10;
}

.navbar-brand {
	color: #EEE !important;
	margin-right: 36px;
}

nav.navbar li.active {
	border-bottom: 5px solid rgba(255, 255, 255, 0.65);
}

nav.navbar li > a {
	background-color: rgba(255, 255, 255, 0) !important;
	color: #DDD !important;
}

nav.navbar li.active  > a { 
	color: #FFF !important;
}


/* Modal Styles - Begin */

.modal-content {
	border-radius: 0;
}

.modal-backdrop {
	opacity: 0.2 !important;
}

/* Modal Styles - End */


