.row {
    margin-left:0px;
    margin-right:0px;
}

#divSidebar {
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.33);
	display: none;
    height: calc(100% - 55px);
	left: 0;
	padding-left: 70px;
	position: absolute;
	top: 55px;
	transition: all .4s ease 0s;
	width: auto;
	z-index: 9;
}

#divSidebarWrapper {
	height: calc(100% - 50px);
    margin-left: -350px;
    left: 70px;
    width: 350px;
    background: rgba(255, 255, 255, 0.92);
    position: fixed;
	top: 50px;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
	height: calc(100% - 84px);
	list-style: none;
	overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
	width: 350px;
}

.sidebar-nav::-webkit-scrollbar {
	height: 12px;
	width: 12px;
	z-index: 6;
}

.sidebar-nav::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}

.sidebar-nav::-webkit-scrollbar-thumb {
	background-color: #909090;
	cursor: pointer;
}

#divSidebar.active {
    padding-left: 350px;
}

#divSidebar.active #divSidebarWrapper {
    left: 350px;
}

#divSidebar:not(.active) #sidebar {
	display: none;
}

#sidebar_menu {
	height: 84px !important;
	overflow-y: hidden !important;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #555555;
    display: block;
    float: left;
    text-decoration: none;
    width: 350px;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

#divSideBarMenuToggle > .sub_icon {
	color: #A5A5A5;
	cursor: pointer;
	float: right;
	right: 4px;
	top: 32px;
}
	
@media screen and (max-width: 600px)  {
	#divSideBarMenuToggle > .sub_icon {
		right: -2px;
	}
}

#divSideBarMenuToggle:hover > .sub_icon {
	color: #656565 !important;
}

#divSidebar.active #divSideBarMenuToggle > .sub_icon {
	
}

#divAreaStatsSubheading {
	color: #757575;
    font-size: 13px;
    left: 20px;
    position: relative;
    top: -40px;
}

.sidebar-nav li {
  line-height: 32px;
  text-indent: 20px;
}

.sidebar-nav li a:hover {
  color: #454545;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  border-bottom: 1px solid #E3E3E3;
  height: 84px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.sidebar-bottom {
    bottom: 0;
	height: 0;
	position: absolute;
}

#main_icon
{
   float:right;
   padding-right: 30px;
   padding-top:20px;
}
.sub_icon
{
   display: inline-block;
   padding: 0;
   width: 32px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media screen and (max-width: 600px) {
	#divSidebar {
		padding-left: 70px;
		transition: all .4s ease 0s;
	}
	#divSidebarWrapper {
		left: 60px;
	}
	#divSidebar.active {
		padding-left: 350px;
	}
	#divSidebar.active #divSidebarWrapper {
		left: 350px;
		width: 350px;
		transition: all .4s ease 0s;
	}
}

.sidebar-heading {
	font-size: 15px;
}

.sidebar-heading.with-quintile {
	border-top: 1px solid #DDD;
	display: none;
	margin-top: 12px; 
	padding-top: 12px;
}

.sidebar-item { 
	display: none;
	line-height: 28px;
	height: 32px;
}

.sidebar-item.with-quintile {
	height: 54px;
}

.sidebar-item > a {
	position: relative;
}

.sidebar-item-label {
	display: inline-block;
	width: 185px;
}

.sidebar-item-label-long {
	display: inline-block;
	width: 220px;
}

.sidebar-item-label-extended {
	display: inline-block;
	width: 260px;
}

.sidebar-item-value {
	display: inline-block;
	font-weight: bold;
	margin: 0 0 0 -25px;
	text-align: right;
	width: 95px;
}

.sidebar-item-value-short {
	display: inline-block;
	font-weight: bold;
	margin: 0 0 0 -25px;
	text-align: right;
	width: 60px;
}

.sidebar-item-bar {
	border: 1px solid #AAA;
    height: 20px;
    margin: 0 10%;
    position: relative;
	width: 76%;
}

.sidebar-item-bar-value {
	background-color: rgba(0, 0, 0, 0.2);
	color: #FFF;
	display: none;
	font-weight: normal;
	height: 18px;
	left: 0;
	line-height: 18px;
	margin: 0;
	position: absolute;
	text-align: center;
	text-indent: 0;
	top: 0px;
	width: 45px;
}

.sidebar-item-inner-bar {
	background-color: #AAA;
	height: 18px; 
	width: 0%;
}

.q1-box,
.q2-box,
.q3-box,
.q4-box,
.q5-box {
	border-left: 1px dotted #858585;
	display: inline-block;
	height: 18px;
	left: auto;
	position: absolute;
	width: 20%;
}

.q1-box {
	border: 0;
	left: 0;
}

.q2-box {
	left: 20%;
}

.q3-box {
	left: 40%;
}

.q4-box {
	left: 60%;
}

.q5-box {
	left: 80%;
}

.q-city-average {
	border-left: 4px solid rgba(255, 20, 20, 0.7);
    border-radius: 3px;
	display: inline-block;
    height: 22px;
    left: 0;
    position: absolute;
	top: -2px;
    width: 3px;
	z-index: 5;
}


