.row{
    margin-left:0px;
    margin-right:0px;
}

#divSidebar {
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.33);
    height: calc(100% - 55px);
	left: 0;
	padding-left: 70px;
	position: absolute;
	top: 55px;
	transition: all .4s ease 0s;
	z-index: 9;
}

#sidebar-wrapper {
	height: calc(100% - 50px);
    margin-left: -350px;
    left: 70px;
    width: 350px;
    background: rgba(255, 255, 255, 0.92);
    position: fixed;
	top: 54px;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 350px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#divSidebar.active {
    padding-left: 350px;
}
#divSidebar.active #sidebar-wrapper {
    left: 350px;
}
#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 350px;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

#divSideBarMenuToggle > .sub_icon {
	color: #606060;
	cursor: pointer;
	float: right;
	right: 4px; 
	top: 32px;
}

#divSideBarMenuToggle:hover > .sub_icon {
	color: #959595 !important;
}

#divAreaStatsSubheading {
	color: #BBB;
    font-size: 13px;
    left: 20px;
    position: relative;
    top: -40px;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #454545;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  border-bottom: 1px solid #E3E3E3;
  height: 84px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.sidebar-bottom {
    position: absolute;
    bottom: 0;
}

#main_icon
{
   float:right;
   padding-right: 30px;
   padding-top:20px;
}
.sub_icon
{
   display: inline-block;
   padding: 0;
   width: 32px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
	#divSidebar {
		padding-left: 70px;
		transition: all .4s ease 0s;
	}
	#sidebar-wrapper {
		left: 70px;
	}
	#divSidebar.active {
		padding-left: 350px;
	}
	#divSidebar.active #sidebar-wrapper {
		left: 350px;
		width: 350px;
		transition: all .4s ease 0s;
	}
}

.sidebar-item { }

.sidebar-item-label {
	display: inline-block;
	width: 140px;
}

.sidebar-item-value {
	display: inline-block;
	font-weight: bold;
	width: 75px;
}

